﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Facebook_project</title>

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />

    <link href="~/css/WelcomePage.css" rel="stylesheet" />

    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />

    @*Dol mo2akatan ya mathew*@
    <link href="~/css/UserHome.css" rel="stylesheet" />
    <link href="~/css/PostStyle.css" rel="stylesheet" />
    <link href="~/css/WritePost.css" rel="stylesheet" />
    @* ///// *@

    <script src="https://kit.fontawesome.com/f5fdd04ada.js" crossorigin="anonymous"></script>

    <style>
        /*DONT REMOVE THIS STYLING YA MATHEW BEEH XD*/
        img {
            image-orientation: from-image;
        }

        .dropbtn {
            background-color: #4CAF50;
            color: white;
            padding: 16px;
            font-size: 16px;
            border: none;
            cursor: pointer;
        }

            .dropbtn:hover, .dropbtn:focus {
                background-color: #3e8e41;
            }

        #myInput {
            box-sizing: border-box;
            background-image: url(searchicon.png);
            background-position: 14px 12px;
            background-repeat: no-repeat;
            font-size: 16px;
            padding: 14px 20px 12px 15px;
            border: none;
            border-bottom: 1px solid #ddd;
            min-width: 400px;
        }

            #myInput:focus {
                outline: 3px solid #ddd;
            }

        .dropdown {
            position: relative;
            display: inline-block;
        }

        .dropdown-content {
            position: absolute;
            display: none;
            background-color: #f6f6f6;
            min-width: 400px;
            overflow: auto;
            border: 1px solid #ddd;
            z-index: 1;
        }

            .dropdown-content div {
                color: black;
                padding: 6px 16px;
                text-decoration: none;
                display: block;
            }

        .dropdown a:hover {
            background-color: #ddd;
        }

        .show {
            display: block;
        }
    </style>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-controller="Home" asp-action="index">Facebook</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </div>
        </nav>
    </header>

   











  


    <div class="wrapper">
        @*<main role="main" class="pb-3">*@
        <div>
            @RenderBody()
        </div>
        @*</main>*@
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2020 - Facebook_project
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <link href="~/css/site.css" rel="stylesheet" />
    @if (IsSectionDefined("Scripts"))
        @RenderSection("Scripts", required: true)
</body>
</html>
